<%= link_to 'New Topic', new_topic_path, class: "btn btn-primary right" %>

<h1>All Topics</h1>
<table class="table table-hover">

  <% @topics.each do |topic| %>  			
	  <tr class="topic">
	    <td>
	      <%= link_to topic.name, topic, class: "topic-link"%> 		 
			  <span class="access-links hide">
					  <%= link_to edit_topic_path(topic) do %>
					    <span class="glyphicon glyphicon-edit"></span>	    
					  <% end %> 					  
					</span>
		  </td>
	  </tr>
  <% end %>

</table>