<p class="back-link">
	<%= link_to book_path(@chapter.book) do %>
	  <span class="glyphicon glyphicon-arrow-left"></span>
	    Back to <strong><%= @book.name %></strong> Book
	<% end %>
</p>
<h1>Editing Section</h1>

<%= render 'form' %>