<%= link_to 'New section', new_chapter_section_path, class: "btn btn-success right" %>

<h1>All sections</h1>
<table class="table table-hover">

  <% @sections.each do |section| %>       
    <tr class="section">
      <td>
        <%= link_to section.name, class: "section-link"%>     
        <span class="access-links hide">
            <%= link_to edit_chapter_section_path(section) do %>
              <span class="glyphicon glyphicon-edit"></span>      
            <% end %>             
          </span>
      </td>
    </tr>
  <% end %>

</table>