<div class="jumbotron center">
	<h1><span style="color: #c0392b;">i</span>Book</h1>	
	<p><i>Better than Google Docs</i></p>
	<p>Simple and Secure way to save your knowledge in Book style.</p>	

	<p class="process-step">
	  <span class="glyphicon glyphicon-book b"></span> Book <span class="glyphicon glyphicon-arrow-right"></span>
	  <span class="fa fa-file c"></span> Chapters <span class="glyphicon glyphicon-arrow-right"></span>
	  <span class="fa fa-file-text s"></span> Sections
	</p>
		
		<p>
		  <%=link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %> 
		  <%=link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>	 
</div>