<%= link_to book_path(@book), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
    Back to <strong><%= @book.name %> Book</strong>
<% end %>

<h1>Editing Book <strong><%= @book.name %></strong></h1>

<%= render 'form' %>