<%= link_to book_path(@book) do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
    Back to <strong><%= @book.name %></strong> Book
<% end %>

<h1>Editing Chapter <strong><%= @chapter.name %></strong> </h1>

<%= render 'form' %>