<%= link_to book_chapter_path(@book, @chapter), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
    Back to <strong><%= @chapter.name %></strong> Chapter
<% end %>

<h1>Editing Chapter <strong><%= @chapter.name %></strong> </h1>

<%= render 'form' %>