<%= link_to book_path(@book) do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
    Back to <strong><%= @book.name %></strong> Book
<% end %>

<h1>New Chapter To <strong><%= @book.name %></strong></h1>

<%= render 'form' %>