<%= link_to book_path(@book), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
    Back to <strong><%= @book.name %></strong> Book
<% end %>

<h1>Add New Chapter To <strong><%= @book.name %></strong></h1>

<%= render 'form' %>