// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
	text-transform: capitalize;
}
.book-total {
  color: #c0392b;
}
.book-link:hover {	
	font-weight: bold;
}
.book-access-links {
	padding-left: 50px;
}
#book-id {
  float: left;
  padding: 5px;
  background: #c0392b;
  color: #fff;
  margin: 0px 0px 0px 0px;
  text-transform: capitalize;
}
#book-description {
  clear:both;
  padding: 10px 0px;  
}
h3 {
	padding: 10px 0px;
	clear: both;
}
.panel-body-min-height {
  min-height: 100px;
}
.book-time {
  color: #aaa;
}
.book-cover {
  padding: 10px;
  background: #f8ebe9;
  margin-bottom: 10px;  
}
.index-book-cover {
  padding: 10px;
  background: #f4f6f6;
  margin-bottom: 10px;  
}