// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
	text-transform: capitalize;
}
.book-link:hover {	
	font-weight: bold;
}
.access-links {
	padding-left: 50px;
}
#book-id {
  float: left;
  padding: 10px 50px;
  background: #c0392b;
  color: #fff;
  margin: -20px 0px 0px -20px;
  text-transform: uppercase;
}
#book-description {
  clear:both;
  padding: 10px 0px;  
}
h3 {
	padding: 10px 0px;
	clear: both;
}