// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
	text-transform: capitalize;
}
.book-link:hover {	
	font-weight: bold;
}
.access-links {
	padding-left: 50px;
}