// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chapter {
	
}
.chapter-total {
  color: #d35400;
}
.chapter-name {
	padding: 11px;
  background: #d35400;
  color: #fff;
  margin-left: -15px;
  margin-right: 10px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
}
.panel-heading {
	text-transform: capitalize;
}
.chapter-access-links {
  padding: 0px 10px;
}
.chapter-btn {
 
}
#chapter-id {
  float: left;
  padding: 10px 50px;
  background: #d35400;
  color: #fff;
  margin: -20px 0px 0px -20px;
  text-transform: uppercase;
}
#chapter-description {
  clear:both;
  padding: 10px 0px;  
}
h3 {
	padding: 10px 0px;
	clear: both;
}
.chapter-list {
  a {
    color: #d35400;
  }
}
#chapter-time {
  color: #ccc;
}
.chapter-link {
  color: #fff !important;  
}