// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.b {
	color: #c0392b;
}
.c {
	color: #d35400;
}
.s {
 color: #16a085;
}
.process-step {
	padding: 20px;
  background: #FAEBD7;     
}
