// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#section-id {
  float: left;
  padding: 10px 50px;
  background: #16a085;
  color: #fff;
  margin: -20px 0px 0px -20px;
  text-transform: uppercase;
}
#section-description {
  clear:both;
  padding: 10px 0px;  
}
h3 {
	padding: 10px 0px;
	clear: both;
}
.section-list {
  padding-left: 20px;
}
.section-list {
  a {   
    color: #16a085;   
    }
  a:hover {
     font-weight: bold;
   }
  }
.back-link-spl {
  padding-top: 10px;
  clear: both;
}
#section-time {
  color: #ccc;
  clear: both;
  padding-top: 10px;
}
#section-id {  
  float: left;
  padding: 5px;
  background: #16a085;
  color: #fff;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
}
.section-link {
  color: #fff !important;
}
.section-access-links {
  padding: 0px 10px;
}
.section-total {
  color: #16a085;
}
.section-cover {
  padding: 10px;
  background: whitesmoke;
  margin-bottom: 10px;
  border-radius: 5px;
}
.section-name {
  padding: 11px;
  background: #16a085;
  color: #fff;
  margin-left: -15px;
  margin-right: 10px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
}