// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic {
	text-transform: capitalize;
}
.topic-link:hover {	
	font-weight: bold;
}
.access-links {
	padding-left: 50px;
}
.hide {
	display: none;
}
.show {
	display: block;	
}